PORT=3000
AWS_REGION=us-east-2
TASKS_TABLE_NAME=replace-with-dynamodb-table-name
COGNITO_USER_POOL_ID=replace-with-user-pool-id
COGNITO_CLIENT_ID=replace-with-app-client-id
CORS_ORIGIN=http://localhost:8000

# Only set this when using DynamoDB Local.
# DYNAMODB_ENDPOINT=http://localhost:8001
